h2 {
	font-size: 40px;
}
div.taust1 {
    background-color: #F0F8FF;
}
div.taust2 {
    background-color: #C6E2FF;
}
h4 {
    margin-top: 0;
    padding-top: 30px;
}
iframe {
    width: 550px;
    height: 309px;
}
#counter {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 15px;
    background: linear-gradient(black,#303030);
    width: 600px;
    border: 2px solid #303030;
    font-family: arial;

}
.taimer {
    font-size: 6em;
    background: linear-gradient(#303030, black);
    padding: 7px;
    margin: 2px;
    border: 2px solid #303030;
}
div.ajayhikud {
    font-size: 1em;
    display:  inline-block;
}
